APP_NAME=skeleton

DOCKER_UI_IP=192.168.3.4
DOCKER_SERVER_ENV=dev
DOCKER_SERVER_IMAGE_TAB=1.0.0
DOCKER_WEB_PORT=80
DOCKER_DB_PASSWD=blldxt
DOCKER_DB_PORT=3306

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0